<!-- Default Statcounter code for Portfolio
https://josh-kaye-portfolio.netlify.app/ -->
<script type="text/javascript" is:raw>
var sc_project=13073507; 
var sc_invisible=1; 
var sc_security="f2f8763a"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async is:raw></script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="https://statcounter.com/" target="_blank"><img
class="statcounter"
src="https://c.statcounter.com/13073507/0/f2f8763a/1/"
alt="Web Analytics"
referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
<!-- End of Statcounter Code -->